* {
    font-family: 'Inconsolata', monospace;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: fit-content;
}

.kotak-input {
    display: block;
    resize: none;
    margin-top: 8px;
}

p > span {
    color: coral;
    font-weight: bold;
}